@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: AutomataBlack;
    src: url('/public/fonts/Automata_Black.ttf') format('truetype');
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border p-0;
  }

  body {
    @apply flex min-h-screen items-center justify-center bg-zinc-900 font-automata-black text-zinc-300 antialiased;
  }
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progress-bar {
  height: 2px;
  background-color: limegreen;
}

.progress-bar-animating {
  animation: fill linear forwards;
}
